@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --para-fontsize:15px;
    --button-bgcolor:rgb(250, 250, 29);
    --button-color:black;
    --button-pad:3px;
    --head-fontsize:45px;
}


html,body{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
header {
    position: fixed;
    background: transparent !important;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.header img {
    width: 40px;
    height: 35px;
    cursor: pointer;
}
.nav-items{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav-items li{
    text-decoration: underline;
    font-size: 15px;
    list-style-type: none;
    cursor: pointer;
}
.btn-review{
    background-color:rgb(204, 204, 204);
    padding: var(--button-pad);
    font-family: sans-serif;
    font-size: 10px;

}

/* main */

.image img{
    width: 100%;
    height: 450px;

}
.nextgen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:50%;
}
.nextgen h1{
    font-size: var(--head-fontsize);
    font-family: poppins, "san-sarif";
}
.nextgen p {
    font-size: var(--para-fontsize);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
}
.btns{
    margin-top: 15px;
}
.btns button{
    padding: var(--button-pad);  
    margin: 10px;
    cursor: pointer;
}
.btns button:hover{
    background-color: var(--button-bgcolor);
}
.Name{
    width: 40%;
    font-size: 20px;
    font-weight: 900;
    font-family: poppins,"san-sarif";
}
.nextgen-box{
    margin-top: 15px;
    display: flex;
    gap: 20%;
}

.glass {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.glass img{
    width: 100%;
    height: 100%;
}
.glass::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(87, 87, 87);
    opacity: 0.4;
    pointer-events: none;
}
.page2{
position: relative;
}

.textonglass{
    color: aliceblue;
    font-size: 40px;
    text-align: justify;
    font-family:FjallaOne,"san-sarif";
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translateY(30px);
    animation: fadein 1 linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page3-container{
    display: flex;
    gap: 17em;
    margin-top: 45px;

}
.left-sideheadp{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 17em;
}
.left-sideheadp h3{
    font-family:"san-sarif";
    font-size: 20px;
    font-weight: 900;
}
.linked-button button{
    
    background-color: var(--button-bgcolor);
    padding:var(--button-pad) ;
}

.rightsidebox{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 25px;
    width: 25%;
}
.right-head{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.video1{
    width: 20em;
    height: 10em;
    display: flex;
}
.p1{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rightsidebox h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-bottom: 16px;
    
    
}
.rightsidebox h6{
    font-size: 15px;

}
.ceo{
    opacity: 0.4;
    font-size: 8px;
    margin-bottom: 16px;
}

