body{
    background-image: url("https://images.unsplash.com/photo-1708013815516-c0014f9e72ba?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    color: #fff;
}

.SearchBar{
    height: 10vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbarparentDiv{
    width: 50%;
    height: fit-content;
    position: relative;
}
.inputfield{
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    outline: none;
}

.searchIcon{
    position: absolute;
    right:4px ;
    top: 4px;
    border-radius: 50%;
}
.searchIcon:hover{
    cursor: pointer;
}

.parentDiv{
    height: 90vh;
    flex-direction: row;
}
.leftDiv{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftChild{
    background: rgba(212,212,212,0.4);
    margin: auto;
    height: 40vh;
    width: 85%;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}
.currettempDiv{
    font-size: large;
}
#cityName{
    font-size: xx-large;
}
#cityTemp{
    font-size: X-large;
}
#fivedaystitle{
    font-size:x-large;
}
.RightDiv {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightrow{
    height: 27vh;
    width: 100%;
}

.extraMetric{
    background: rgba(212,212,212,0.4);
    padding: 5% 2%;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
}

.rowTwoDiv{
     background:rgba(212, 212, 212, 0.4) ;
     backdrop-filter: blur(15px);
     width: 45%;
     height: 85%;
     border-radius: 15px;
}
.TodayTemp{
    background: rgba(212, 212, 212, 0.4);
    backdrop-filter: blur(15px);
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width:767px) {
    .leftDiv{
        width: 100%;
    }
    .RightDiv{
        width: 100%;
    }
    .parentDiv {
        height: 90vh;
        flex-direction: column;
    }
    .SearchBar{
        width: 100%;
    }
    .leftDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:15px;
        margin-top:15px;
    }
    .searchbarparentDiv {
        width: 85%;
        height: fit-content;
        position: relative;
    }
    .rowOne{
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
    }
    .rowTwo{
        flex-direction: column;
        gap: 10px;
        height: 30vh;
    }
    .rowTwoDiv {
        background: rgba(212, 212, 212, 0.4);
        backdrop-filter: blur(15px);
        width: 85%;
        height: 85%;
        border-radius: 15px;
    }
    .rowThree{
        flex-wrap: wrap;
    }
    .todaytempDiv{
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        gap: 15px;
    }
}
