@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Marck+Script&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.Full-page{
    background-image: url("download.png");
    width: 100%;
    height:60em;
    color: #fff;
}
.head{
    width: 100%;
    height: 7%;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}
.head img{
    cursor: pointer;
    height: 60%;
    width: 20%;
    margin-top:1em ;
}
.head button{
    color: #fff;
    margin: 1em 2em;
    background-color:rgb(47, 255, 47);
    border-radius: 5px;
    height:50%;
    width: 6%;
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}
.navbar h1{
    font-family: Helvetica, sans-serif ;
    letter-spacing: -2px;
    font-weight: 800;
    font-size:40px ;
}
.navlist{
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: "poppins","san-sarif";
}
.navlist li{
    list-style-type: none;
    align-items: center;
    font-weight: 600;
}
.head-btn{
    background-color: black;
    width: 8%;
    color: #fff;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: 700;
    font-family: "poppins","san-sarif";
}
.purchase-btn{
    background-color: black;
    color: #fff;
    padding: 10px 7rem;
    font-size: 20px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    align-items: center;
    border: black;
    border-radius: 6px;
    overflow: hidden;
}
.purchase-btn span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.purchase-btn:hover span {
    animation: moveText 1s ease;
}

@keyframes moveText {
    0% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
.head-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -5px;
    font-family: 'Helvetica';
    margin-top: 5rem;
}
.purchase-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

